* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: 
        'aside main';
}

main {
    padding: 2em;
    grid-area: main;
}

ul {
    list-style-type: none;
}

aside {
    background: #fcd1d1;
    width: 20vw;
    height: 100%;
    grid-area: aside;
}

@media screen and (max-width: 780px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr;
        grid-template-areas: 
            'aside'
            'main';
        
    }

    aside {
        width: 100%;
    }
    
}